*,
*:before,
*:after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #000;
  width: 100vw;
  padding: 0%;
  text-align: justify;
}

/* HAMBURGER NAV */

.topnav {
  display: none;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

#myLinks {
  display: none;
  color: #000;
  background-color: transparent;
  flex-direction: column;
  text-align: right;
  margin-right: 2.1vw; 
  margin-bottom: 3vw;
  margin-top: -5vw;
  font-size: 150%;
}

.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.topnav a.icon {
  display: block;
  margin-top: 1em;
}

/**/

a#brand, a.nav-link {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  margin-left: 0.5em;
  margin-right: 0.5em; 
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: justify;
}

.construction {
  height: 50vh;
  margin-top: 20vh;
  text-align: center;
  font-size: 130%;
}

a:hover, a.nav-link:hover {
  cursor: crosshair;
  color: #90ee90 !important;
  text-decoration: none !important;
  transition: color .1s ease-in
}

a.link {
  color: #1eb01e;
}

a:hover {
  cursor: crosshair;
  text-decoration: none;
  color: #000;
}

body {
  height: calc(100vh - 70px);
  min-height: 100%;
}

html {
  overflow: auto;
}

nav {
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  /*background-color: rgba(255,255,255,0.8);*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255, 0));
}

.dropdown-content {
  display: block;
}

a.selected {
  color: #000;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #000 !important;
}

#brand {
  font-size: 190%;
  font-weight: 400;
}

#brand img {
  max-width: 10vw; 
}

.nav-link {
  font-size: 100%;
  font-weight: 300;
}

.container.main {
  max-width: 96vw;
  margin-bottom: 3em;
}

.project-title {
  display: none;
  position: absolute;
  margin-left: -31%;
  margin-top: 16%;
  font-weight: 700;
  font-size: 2vw;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

img, video {
  border-radius: 1px;
}

.project-item {
  display: inline;
  margin-bottom: -2vh;
}

.project-item figure a img {
  /*max-width: 46vw;*/
  max-width: 100%;
}

.project-item:hover .project-title {
  display: inline;
  /*transition: inline .05s linear;*/
}

.project-item:hover figure a img {
  cursor: crosshair;
  opacity: 0.15;
  transition: opacity .2s ease-in;
}

.portfolio-grid {
  width: 100%;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "spotify xylophone"
             "dance temp"
}

#spotify {
  grid-area: spotify;
  width: 100%;
}

#xylophone {
  grid-area: xylophone;
  width: 100%;
}

#dance {
  grid-area: dance;
  width: 100%;
}

#temp {
  grid-area: temp;
  width: 100%;
}


footer {
  text-align: center;
  padding-bottom: 3vh;
  font-size: 0.8vw;
}


/*CONTACT PAGE*/


#contact-page {
  height: 75vh;
  font-size: 100%;
}

.contact-grid {
  padding-top: 10vh;
  width: 90%;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "blurb contact"
}

#blurb {
  grid-area: blurb;
}

#blurb figure img {
  max-width: 90%;
  padding-left: 10%;
}

#about-text {
  padding-top: 5%;
  width: 90%;
  padding-left: 10%;
  text-align: justify;
}

#contact-info {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vh;
  left: 50%;
}

#contact-info div {
  margin: 3vh;
}

.button:hover, .button#email-button:hover {
  cursor: crosshair !important;
  background-color: #f0f1ff;
  color: #000;
}

.button, .button#email-button {
  font-weight: 700;
  padding: 0.7em;
  border: none;
  background-color: #edf;
  border-radius: 5px !important;
  color: #000;
}

.button:focus, .button#email-button:focus {
  outline: none;
  box-shadow: none;
}


.fa {
  margin: 3%;
}

.icon-link {
  color: #000;
}


/*  CONTACT MODAL -- https://codepen.io/matmarsiglio/pen/HLIor  */

.modal-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  background-color: #edf;
  border-radius: 3%;
  box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;

}

::placeholder { 
  color: #1eb01e;
  opacity: 1; 
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

.modal-container body {
  font-family: 'Lato', sans-serif;
  background: #eee;
  color: #b3aca7;
}

.modal-container header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 475px;
  margin: 50px auto 50px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #888;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #888;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  /*width: 502px;*/
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: crosshair;
  
  border: solid 1px #888;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.close:hover {
  cursor: crosshair;
}



/*PROJECT PAGES*/

/*PROCESS*/


h1.title {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3.2vw;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-weight: 700;
}

h2.h2 {
  font-size: 2.6vw;
  font-weight: 700 !important;
}

section {
  padding-top: 2vh;
  padding-bottom: 5%;
}

.centerlink {
  text-align: center !important;
  font-size: 1.5vw;
}

.banner figure img {
  max-width: 90%;
}

.banner {/*
  margin-top: -10%;*/
  max-width: 70vw;
  margin-left: 70%;
}

img.smaller {
  max-width: 60%;
  margin-top: -1vh;
}

.center {
  text-align: center;
}

.process {
  font-size: 1.05vw;
}


.info-grid-xylophone {
  display: grid;
  width: 100%;
  grid-gap: 2vw;
  grid-template-columns: 1.4fr 3fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: "txt pic"
}

.info-grid-spotify {
  display: grid;
  width: 100%;
  grid-gap: 2vw;
  grid-template-columns: 7fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "pic txt"
}

.info-grid-dance {
  font-size: 1.1vw;
  display: grid;
  width: 100%;
  grid-gap: 2vw;
  grid-template-columns: 4fr 7fr;
  grid-template-rows: auto;
  grid-template-areas: "txt pic"
}

.project-main-pic {
  grid-area: pic;
  max-width: 100%;
  margin-left: 3vw;
  border-radius: 1px;
}


.project-main-cap {
  grid-area: txt;
  max-width: 100%;
  font-size: 1.15vw;
  line-height: 2;
  font-weight: 400;
  text-align: justify;
}


#spotify-main-pic {
  grid-area: pic;
  max-width: 100%;  
  margin-left: 0;
  border-radius: 1px;
}


#spotify-main-cap {
  grid-area: txt;
  max-width: 100%;
  font-size: 1.15vw;
  line-height: 2;
  font-weight: 400;
  text-align: justify;
}


.orange {
  color: #ffa500;
}

.process-flex {
  display: flex;
  line-height: 1.8;
  width: 100%;
  font-size: 1.1vw;
}

.col {
  flex: 1;
}

.left-col {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.mid-col {
  margin-left: 2.5%;
  padding-left: 2.5%;
  margin-right: 2.5%;
  padding-right: 2.5%;
}

.right-col {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.col > figure {
  padding-top: 1em;
  padding-bottom: 1em;
}

#process-first-cap {
  text-align: justify;
}

#process-second-cap {
  text-align: justify;
}

#process-third-cap {
  text-align: justify;
}

.full-img {
  max-width: 100%;
}


/*PROTOTYPING*/

.prototype-flex {
  display: flex;
  line-height: 1.8;
  width: 100%;
  font-size: 1.1vw;
}

.proto-item {
  width: 100%;
}

#proto-right-col {
  position: relative;
}

#proto-right-col .bottom {
  position: absolute;
  bottom: 1em;
  left: 0;
}

.half-img {
  max-width: 49.5%;
  display: inline;
}


/*FINAL*/

.final-flex {
  display: flex;
  line-height: 1.8;
  width: 100%;
  font-size: 1.1vw;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.final-flex > .left-col {
  padding-right: 2em;
}
.final-flex > .right-col {
  padding-left: 2em;
}

.final-img {
  width: 100%;
}

.col > .final-img {
  padding-bottom: 2em;
  padding-top: 2em;
}

#final-right-col {
  position: relative;
}

#final-right-col .bottom {
  position: absolute;
  bottom: 0.7em;
  left: 0;
}

.demo {
  margin: 2em;
  background-color: #ddd;
  border-radius: 20px;
}

.demo > p {
  padding-top: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.demo > figure {
  padding: 1em;
}


/*SPOTIFY*/

.spotify-process-flex {
  display: flex;
  line-height: 1.8;
  width: 100%;
  font-size: 1.15vw;
  padding-top: 5vh;
}


#spotify-process-cap {
  text-align: justify;
  font-size: 1.15vw;
  margin-top: 2vh;/
}

.horizontal-mini-flex {
  display: flex;
}

.mini-flex-item img, .mini-flex-item video, .mini-flex-item {
  height: 30vh;
  padding: 0;
  padding-bottom: 2vh;
}

.wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.wrap figure {
  text-align: center;
  align-content: center;
}

#hsv-pic {
  width: 70%;
  margin-left: 0.5em;
  margin-right: -0.5em;
  margin-top: -1.3em;
  margin-bottom: -1em;
}

#spotify-process-right-col .bottom {
  position: absolute;
  bottom: 0em;
}

/*DANCE VIZ*/

.horizontal-mini-flex.dance-pics {
  justify-content: space-around;
}

.dance-gallery {
  padding-bottom: 2vh;
  max-height: 30vh;
}

#dance-final-div {
  width: 60vw;
}

#dance-final-vid {
  width: 45vw;
  padding-right: 3vw;
}

/*STROOP*/

.stroop-text {
  line-height: 4vh;
}

#stroop-lofi-fig img {
  height: 60vh;
  max-width: 100%;
}

.stroop-link-flex {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  line-height: 3em;
}

.stroop-link-button {
  padding: 4%;
  border-radius: 20px;
  background-color: #eee;
}




/* ---------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
  .topnav {
    display: none;
  }

  #myLinks {
    display: none;
  }

}

/*@media screen and (min-width: 550px) and (max-width: 600px)*/
@media screen and (max-width: 991px) { /*(min-width: 501px) and (max-width: 991px) {*/

  .topnav {
    display: inline;
  }

  .navbarResponsive {
    display: none;
  }

  .portfolio-grid {
    display: flex;
    flex-direction: column;
  }

  .project-title {
    display: none;
    position: absolute;
    left: 80%;
    margin-top: 33%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 4vw;
  }

  footer {
    font-size: 2vh;
  }

  #brand img {
    max-width: 15vw; 
  }

  h1.title {
    font-size: 3.5vw;
  }

  h2.h2 {
    font-size: 3vw;
  }

  /*PAGES*/

  /*SPOTIFY*/

  .info-grid-spotify {
    display: flex;
    flex-direction: column;
  }

  .project-main-cap {
    font-size: 2vh;
    grid-area: txt;
    max-width: 100%;
    line-height: 2;
    font-weight: 400;
    text-align: justify;
  }

  #spotify-main-cap {
    font-size: 2vh;
    line-height: 1.9;
  }

  .centerlink {
    font-size: 3vh;
  }

  #spotify-process-cap {
    font-size: 2vh;
    line-height: 1.9;
  }

  .spotify-process-flex {
    font-size: 2vh;
    flex-direction: column;
  }

  .col {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
  }

  #proto-right-col .bottom {
    position: relative;
    bottom: auto;
    left: auto;
  }

  #spotify-process-right-col .bottom {
    position: relative;
    bottom: auto;
  }

  #spotify-process-right-col div.horizontal-mini-flex {
    flex-direction: row;
  }

  .spotify-process-flex div.left-col div.horizontal-mini-flex {
    flex-direction: row;
  }

  #final-right-col .bottom {
    position: relative;
    bottom: auto;
    left: auto;
  }

  #hsv-pic {
    margin-top: 0;
    width: 100%;
  }

  #spotify-button-pic {
    width: 100%;
  }


  /*XYLOPHONE*/

  .info-grid-xylophone {
    display: flex;
    flex-direction: column;
  }

  .format-responsive {
    display: none;
  }

  .project-main-pic {
    margin: 0;
  }

  .process-flex {
    flex-direction: column;
    font-size: 2vh;
  }

  .prototype-flex {
    flex-direction: column;
    font-size: 2vh;
  }

  .final-flex {
    flex-direction: column;
    font-size: 2vh;
  }

  /*DANCE*/ 

  .info-grid-dance {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
  }

  .process {
    font-size: 2vh;
  }

  img.smaller {
    max-width: 100%;

  }

  .horizontal-mini-flex {
    flex-direction: column;
    font-size: 2vh;
  }

  .horizontal-mini-flex.dance-pics {
    flex-direction: row;
  }

  #dance-final-div {
    width: 100%;
  }

  #dance-final-vid {
    width: 100%;
    padding-right: 0;
  }

  /*STROOP*/

  #stroop-fig-div  {
    text-align: center;
    font-size: 2vh;
    padding-bottom: 7vh;

  }

  .stroop-link-flex {
    flex-direction: column;
    margin-top: 5vh;
    font-size: 2.7vh;
  }

  .stroop-link-button {
    padding: 0.6em;
  }

  /*CONTACT*/

  #contact-page {
    text-align: center;
  }

  .contact-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3vh;
    width: 100%;
  }

  #blurb figure img {
    padding: 0;
    max-width: 40vh;
  }

  #contact-info {
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -1vh;
    left: 50%;
  }

  #contact-info div {
    margin: 1em;
  }


}


@media screen and (max-width: 500px) {

  #brand img {
    max-width: 30vw; 
  }

  nav {
    margin: 0;
    margin-top: 2vh;
  }

  h1.title {
    font-size: 4vh;
  }

  h2.h2 {
    font-size: 3.5vh;
  }

  #spotify-process-right-col div.horizontal-mini-flex {
    flex-direction: column;
  }

  #hsv-pic {
    text-align: center;
  }

  .spotify-process-flex div.left-col div.horizontal-mini-flex {
    flex-direction: column;
  }

  #spotify-button-pic {
    text-align: center;
  }


}


















