*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #000;
  width: 100vw;
  padding: 0%;
  text-align: justify;
}

.container {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: justify;
  min-height: 100vh;
  min-width: 100vw;

  background-image: url("img/schiele.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover,
a.nav-link:hover {
  color: #90ee90 !important;
  text-decoration: none !important;
  transition: color 0.1s ease-in;
}

a.link {
  color: #1eb01e;
}

a:hover {
  text-decoration: none;
  color: #000;
}

body {
  height: calc(100vh - 70px);
  min-height: 100%;
}

html {
  overflow: auto;
}

.dropdown-content {
  display: block;
}

a.selected {
  color: #000;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #000 !important;
}

#brand {
  font-size: 190%;
  font-weight: 400;
}

#brand img {
  max-width: 10vw;
}

.nav-link {
  font-size: 100%;
  font-weight: 300;
}

img,
video {
  border-radius: 1px;
}

footer {
  text-align: center;
  font-size: 80%;
  display: block;
}
